fastapi==0.115.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
neo4j==5.14.0
chromadb==0.4.24
numpy==1.26.4
spacy==3.7.4
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
langchain-text-splitters==0.2.4
sentence-transformers==2.7.0
python-dotenv==1.0.0
pydantic==2.7.0